<footer>
    <div class="opciones">
        <nav>
            <ul>
                <li><a href="">Comprobantes</a></li>
                <li><a href="">Compras</a></li>
                <li><a href="">Clientes</a></li>
                <li><a href="">AFIP</a></li>
            </ul>
        </nav>
    </div>
    <div class="autor">
        <p>Todos los derechos reservados -2021-</p>
    </div>
    <div class="redes">
        <p>CONTACTANOS EN</p>
        <ul>
            <li><a href=""><i class="fab fa-facebook"></i></a></li>
            <li><a href=""><i class="fab fa-instagram"></i></a></li>
            <li><a href=""><i class="fab fa-google"></i></a></li>
        </ul>
    </div>
</footer>